* {
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

.body {
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #E4EBF5;
    overflow: hidden;
}

.timer,
.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form__title {
    color: #6d5dfc;
    font-size: 32px;
    font-weight: 200;
    text-align: center;
}

.form__inputs {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 4px;
    justify-content: center;
    margin-bottom: 16px;
}

.form__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40px;
}

.form__label span {
    font-size: 12px;
}

.form__input {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    box-shadow: inset .2rem .2rem .5rem #c8d0e7,
    inset -.2rem -.2rem .5rem #FFFFFF;
    background: none;
    font-family: inherit;
    color: #9baacf;
}

.form__button {
    width: 100%;
    height: 56px;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem #c8d0e7,
    -.2rem -.2rem .5rem #FFFFFF;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
}

.timer__border {
    position: relative;
}

.timer__list {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 12px;
    align-items: center;
    margin: 0;
    padding: 36px;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    list-style: none;
    box-shadow: 4px 5px 10px #c8d0e7, -2px -3px 2px #FFFFFF;
    z-index: 2;
}

.timer__item {
    text-align: center;
}

.timer__item-number {
    margin: 0;
    font-size: 80px;
    color: #998ef8;
}

.timer__item-text {
    font-size: 24px;
    color: #c8d0e7;
}

.timer__wave-1,
.timer__wave-2 {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    filter: blur(1px);
    z-index: 1;
}

.timer__wave-1 {
    box-shadow: .4rem .4rem .8rem #c8d0e7,
    -.4rem -.4rem .8rem #FFFFFF;
    background: linear-gradient(to bottom right, #c8d0e7 0%, #FFFFFF 100%);
    animation: waves 6s linear infinite;
}

.timer__wave-2 {
    box-shadow: .4rem .4rem .8rem #c8d0e7,
    -.4rem -.4rem .8rem #FFFFFF;
    animation: waves 3s linear infinite;
}

@media (max-width: 768px) {
    .form__title {
        font-size: 20px;
    }

    .timer__list,
    .timer__wave-1,
    .timer__wave-2 {
        width: 240px;
        height: 240px;
    }

    .timer__item-number {
        font-size: 30px;
    }

    .timer__item-text {
        font-size: 14px;
    }

    .timer__list {
        grid-column-gap: 6px;
    }
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.hidden {
    display: none;
}
